VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/xjglqwke
VITE_CLOUDINARY_CLOUD_NAME=atc7jukt
CLOUDINARY_CLOUD_NAME=atc7jukt
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
VITE_CLOUDINARY_UPLOAD_PRESET=portfolio_uploads
